<a href="https://colab.research.google.com/github/Mangalam0512/Movie-Recomendation/blob/main/Notebook/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MOVIE Recommentation System

# Importing Data and Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mlt
from ast import literal_eval

In [2]:
data_movies = pd.read_csv('/content/drive/MyDrive/tmdb_5000_movies.csv')
data_credits=pd.read_csv('/content/drive/MyDrive/tmdb_5000_credits.csv')

In [3]:
type(data_movies)

pandas.core.frame.DataFrame

# Data Cleaning

In [4]:
data_credits = data_credits.rename(columns={'movie_id':'id', "tittle" : 'title'})

In [5]:
data_movies = data_movies.merge(data_credits,on='id')

In [6]:
data_movies = data_movies[['genres','id', "original_title",'budget', 'overview', "cast",'revenue','release_date','runtime','vote_average',"popularity",'production_companies']]

In [7]:
data_movies.head(3)

,genres,id,original_title,budget,overview,cast,revenue,release_date,runtime,vote_average,popularity,production_companies
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,237000000,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",2787965087,2009-12-10,162.0,7.2,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,300000000,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",961000000,2007-05-19,169.0,6.9,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,245000000,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",880674609,2015-10-26,148.0,6.3,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."

In [8]:
features = ['cast', 'genres','production_companies']
for feature in features:
  data_movies[feature] = data_movies[feature].apply(literal_eval)

In [9]:
data_movies.head(3)

,genres,id,original_title,budget,overview,cast,revenue,release_date,runtime,vote_average,popularity,production_companies
0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,Avatar,237000000,"In the 22nd century, a paraplegic Marine is di...","[{'cast_id': 242, 'character': 'Jake Sully', '...",2787965087,2009-12-10,162.0,7.2,150.437577,"[{'name': 'Ingenious Film Partners', 'id': 289..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",285,Pirates of the Caribbean: At World's End,300000000,"Captain Barbossa, long believed to be dead, ha...","[{'cast_id': 4, 'character': 'Captain Jack Spa...",961000000,2007-05-19,169.0,6.9,139.082615,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",206647,Spectre,245000000,A cryptic message from Bond’s past sends him o...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...",880674609,2015-10-26,148.0,6.3,107.376788,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam..."

In [10]:
def get_list(meta_data):
    if isinstance(meta_data, list):
        names = [col['name'] for col in meta_data]
        if len(names) > 3:
            names = names[:3]
        return names
    return []

features = ['cast','genres','production_companies']
for feature in features:
    data_movies[feature] = data_movies[feature].apply(get_list)

In [11]:
data_movies.head(3)

,genres,id,original_title,budget,overview,cast,revenue,release_date,runtime,vote_average,popularity,production_companies
0,"[Action, Adventure, Fantasy]",19995,Avatar,237000000,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",2787965087,2009-12-10,162.0,7.2,150.437577,"[Ingenious Film Partners, Twentieth Century Fo..."
1,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,300000000,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",961000000,2007-05-19,169.0,6.9,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,"[Action, Adventure, Crime]",206647,Spectre,245000000,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",880674609,2015-10-26,148.0,6.3,107.376788,"[Columbia Pictures, Danjaq, B24]"

In [12]:
data_movies.isnull().sum()

genres                  0
id                      0
original_title          0
budget                  0
overview                3
cast                    0
revenue                 0
release_date            1
runtime                 2
vote_average            0
popularity              0
production_companies    0
dtype: int64

In [13]:
data_movies = data_movies.dropna()

In [14]:
data_movies.isnull().sum()

genres                  0
id                      0
original_title          0
budget                  0
overview                0
cast                    0
revenue                 0
release_date            0
runtime                 0
vote_average            0
popularity              0
production_companies    0
dtype: int64

In [15]:
data_movies.shape

(4799, 12)

In [16]:
data_movies['profit']=data_movies['revenue']-data_movies['budget']

In [17]:
data_movies['profit_percent']=data_movies['profit']*100/data_movies['budget']

In [18]:
data_movies.head()

,genres,id,original_title,budget,overview,cast,revenue,release_date,runtime,vote_average,popularity,production_companies,profit,profit_percent
0,"[Action, Adventure, Fantasy]",19995,Avatar,237000000,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",2787965087,2009-12-10,162.0,7.2,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",2550965087,1076.356577
1,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,300000000,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",961000000,2007-05-19,169.0,6.9,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",661000000,220.333333
2,"[Action, Adventure, Crime]",206647,Spectre,245000000,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",880674609,2015-10-26,148.0,6.3,107.376788,"[Columbia Pictures, Danjaq, B24]",635674609,259.459024
3,"[Action, Crime, Drama]",49026,The Dark Knight Rises,250000000,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",1084939099,2012-07-16,165.0,7.6,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",834939099,333.975640
4,"[Action, Adventure, Science Fiction]",49529,John Carter,260000000,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",284139100,2012-03-07,132.0,6.1,43.926995,[Walt Disney Pictures],24139100,9.284269

In [29]:
movie_genre=pd.DataFrame(data_movies['genres'])
movie_genre=movie_genre.to_numpy()
cast=pd.DataFrame(data_movies['cast'])
cast=cast.to_numpy()
production_companies=pd.DataFrame(data_movies['production_companies'])
production_companies= production_companies.to_numpy()

In [20]:
movie_genre.shape
movie_genre[1:]

array([[list(['Adventure', 'Fantasy', 'Action'])],
       [list(['Action', 'Adventure', 'Crime'])],
       [list(['Action', 'Crime', 'Drama'])],
       ...,
       [list(['Comedy', 'Drama', 'Romance'])],
       [list([])],
       [list(['Documentary'])]], dtype=object)

In [30]:
def getlist(nump):
  t={'aa'}
  for i in range(4799):
    a=nump[i]
    a=a[0]
    for j in a:
      t.add(j)
  t=list(t)
  t.sort()
  t.remove('aa')
  t=np.array(t)
  return t

moviegenre=getlist(movie_genre)
cast=getlist(cast)
movie_genre
production_companies=getlist(production_companies)

In [31]:
production_companies

array(['100 Bares', '101st Street Films', '10th Hole Productions', ...,
       'uFilm', 'verture Films', 'África Filmes'], dtype='<U73')

In [28]:
cast=np.array(cast)
cast.shape

(5683,)

# Data Visualization

In [ ]:
b